<!--
 Javascript in HTML to render CSV to chart via Highcharts.
 Adapted heavily from example given by Highcharts to source CSV
 from elsewhere and simplify layout to exclude input parameters
 27/07/2020 - CEAL via Sam Holm
-->

{% extends "CEAL/header.html" %}
{% block content %}

<body>
<div id = "container"> </div>
<!-- <script src="https://code.highcharts.com/highcharts.src.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
-->

{% load static %}
<link rel='stylesheet' href="{% static 'CEAL/js/bootstrap.min.js' %}"/>
<script src="{% static 'CEAL/js/highcharts_source.js' %}"></script>
<script src="{% static 'CEAL/js/highcharts_js.js' %}"></script>
<script src="{% static 'CEAL/js/highcharts_data.js' %}"></script>
<script src="{% static 'CEAL/js/highcharts_exporting.js' %}"></script>

<!-- <div class="ld-row">
	<label class="ld-label">
		Enable Polling
	</label>
	<input type="checkbox" checked="checked" id="enablePolling"/>
</div> -->
<!-- <div class="ld-row">
	<label class="ld-label">
		Polling Time (Seconds)
	</label>
	<input class="ld-time-input" type="number" value="2" id="pollingTime"/>
</div> -->
<!-- <div class="ld-row">
	<label class="ld-label">
		CSV URL
	</label>
	<input class="ld-url-input" type="text" id="fetchURL"/>
</div> -->

<script type="text/javascript">
var defaultData = 'http://127.0.0.1:8000/CEAL/csv';
var urlInput =  defaultData;

//var pollingCheckbox = document.getElementById('enablePolling');
//var pollingInput = document.getElementById('pollingTime');

function createChart() {
    Highcharts.chart('container', {
        chart: {
            type: 'spline',
            height: 500
        },
        yAxis: {
            title: {
                    enabled: true,
                    text: 'Temperature (°C) Humidity (rel %)'
                }
        },
        xAxis: {
            title: {
                    enabled: true,
                    text: 'Timestamp'
                }
        },
        title: {
            text: 'Growing Environment Temperature'
        },
        accessibility: {
            announceNewData: {
                enabled: true,
                minAnnounceInterval: 15000,
                announcementFormatter: function (allSeries, newSeries, newPoint) {
                    if (newPoint) {
                        return 'New point added. Value: ' + newPoint.y;
                    }
                    return false;
                }
            }
        },
        data: {
            csvURL: defaultData,
            enablePolling:  true,
            dataRefreshRate:  10
        }
    });

    /*if (pollingInput.value < 1 || !pollingInput.value) {
        pollingInput.value = 1;
    }*/
}


// We recreate instead of using chart update to make sure the loaded CSV
// and such is completely gone.
//pollingCheckbox.onchange = urlInput.onchange = pollingInput.onchange = createChart;

// Create the chart
createChart();
</script>
</body>


{% endblock %}